{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block banner %}
<h2 class="title">Password set</h2>
<p class="subtitle">Password reset completed</p>
{% endblock %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="message is-success">
                <div class="message-content">
                    <div class="content indented">
                        <p>Your password has been set> You can now <a href="{% url 'login' %}">login</a> again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
