{% extends "base.html" %}
{% block title %}Password changed{% endblock %}
{% block banner %}
<h2 class="title">Password changed</h2>
{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-two-thirds">
        <div class="message is-success">
            <div class="message-body">
                <div class="content">
                    <p class="indented">Your password has been changed successfully. You may now use it when logging into your account.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="buttons is-centered">
            <a class="button is-link is-block is-fullwidth" href="{% url 'dashboard' %}">Return to Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
