{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block banner %}
<h2 class="title">Reset your password</h2>
{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-two-thirds">
        <div class="message is-info">
            <div class="message-body">
                <p class="indented">We have sent an email with instructions to the address you have provided us. If there is an account associated with
                it, you will be able to follow the link provided in the email to continue resetting your password.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
