{% extends "base.html" %}
{% load bulma_tags %}
{% block title %}Reset your password{% endblock %}

{% block banner %}
<h2 class="title">Reset your password</h2>
{% if validlink %}
<p class="subtitle">Enter and confirm your new password below:</p>
{% endif %}
{% endblock %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
        {% if validlink %}
            <div class="box">
                <form method="post">
                    {{ form|bulma }}
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-block is-fullwidth is-danger">Reset password</button>
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <div clas="message is-danger">
                <div class="message-body">
                    <div class="content">
                        <p class="indented">The reset link you tried to use is invalid, possibly because it has already been used. Please request a new password reset link.</p>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

